<div class="modal-style">
  <div class="modal-header border-0">
    <h5 class="modal-container-title" id="exampleModalLabel">Details for: {{machine}}</h5>
  </div>
  <div class= "modal-dialog modal-dialog-scrollable">
    <div class="modal-body; modal-body-style">
      <h4 class="modal-label">Summary:</h4>
        <div>
          <p>
            <b>Client Name:</b> {{name || "NA"}}<br>
            <b>Last Checked:</b> {{(recentMachineData.date | date: "short") || "NA"}}<br>
            <b>Key:</b> {{key || "NA"}}
          </p>
        </div>    
      <h4 class="modal-label">CPU Data:</h4>
        <div *ngFor="let cpu of recentMachineData.cpuInfo">
          <b>Name:</b> {{cpu.name}}<br>
          <b>Number of Cores:</b> {{cpu.numOfCores}}<br>
          <b>Number of Logical Processors:</b> {{cpu.numOfLogicalProcessors}}<br>
          <b>Percent in Use:</b> {{cpu.percentInUse | number: '1.1-2'}}%
        </div>
      <br>
      <h4 class="modal-label">Disk Data:</h4>
        <div *ngFor="let disk of recentMachineData.diskInfo">
            <b>Capacity:</b> {{formatBytes(disk.capacityMb)}}<br>
            <b>Free Space:</b> {{formatBytes(disk.freeSpaceMb)}}<br>
            <b>Percent Utilized:</b> {{disk.percentUtilization | number: '1.1-2'}}%
        </div>
      <br>
      <h4 class="modal-label">Memory Data:</h4>
        <div>
          <b>Percent in Use:</b> {{recentMachineData.memoryInfo?.percentInUse | number: '1.1-2'}}%<br>
          <b>Total MB:</b> {{formatBytes(recentMachineData.memoryInfo?.totalPhysicalMb)}}
        </div>
      <br>
      <h4 class="modal-label">SQL Data:</h4>
        <b>Has SQL Server:</b> {{recentMachineData.sqlInfo?.hasSqlServer}}<br>
        <b>SQL Server Version:</b> {{recentMachineData.sqlInfo?.sqlServerVersion}}
    </div>
  </div>
  <div class="modal-footer border-0">
    <button type="button" class="modal-button" (click)="startMachineHealthCheck(key)">Check Machine</button>
    <button type="button" class="modal-button" (click)="getRecentMachine(key)">Refresh</button>
    <button type="button" class="modal-button" aria-label="Close" (click)="closeModal()">Close</button>
  </div>
</div>