<nav-bar></nav-bar>
<div class="main-container">
    <div class="table-container">
        <div class="table-container-title">
            Machine Health Check
        </div>
        <button class="create-button" (click)="openCreateMachineModal()">
            Create Machine
        </button>
        <div class="table-contents">
            <mat-table class ="table-design" [dataSource]="allMachineData">
                <ng-container matColumnDef="ClientName">
                    <mat-header-cell class="table-font" id="header" *matHeaderCellDef> Client Name </mat-header-cell>
                    <mat-cell class="table-font" id="cell" *matCellDef="let machine">{{machine.name || "NA"}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="MachineName">
                    <mat-header-cell class="table-font" id="header" *matHeaderCellDef> Machine </mat-header-cell>
                    <mat-cell class="table-font" id="cell" *matCellDef="let machine">{{machine.machine || "NA"}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Key">
                    <mat-header-cell class="table-font" id="header" *matHeaderCellDef> Key </mat-header-cell>
                    <mat-cell class="table-font" id="cell" *matCellDef="let machine">{{machine.key || "NA"}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Last Check-In">
                    <mat-header-cell class="table-font" id="header" *matHeaderCellDef> Last Check-In </mat-header-cell>
                    <mat-cell class="table-font" id="cell" *matCellDef="let machine">{{(machine.lastChecked | date: "short") || "NA"}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="CheckServer">
                    <mat-header-cell class="table-font" *matHeaderCellDef> </mat-header-cell>
                    <mat-cell class="table-font" *matCellDef="let machine">
                        <button class="button" id="check-server" (click)="openCheckServerModal(machine)">
                            <div class="button-text">
                                Check Details
                            </div>
                        </button>
                    </mat-cell>                
                </ng-container>
                <ng-container matColumnDef="CheckHistory">
                    <mat-header-cell class="table-font" *matHeaderCellDef> </mat-header-cell>
                    <mat-cell class="table-font" *matCellDef="let machine">
                        <button class="button" id="check-history" (click)="openCheckServerModal(machine)">
                            <div class="button-text">
                                Check History
                            </div>
                        </button>
                    </mat-cell>                
                </ng-container>
                <ng-container matColumnDef="Delete">
                    <mat-header-cell class="table-font" *matHeaderCellDef> </mat-header-cell>
                    <mat-cell class="table-font" *matCellDef="let machine">
                        <button class="button" id="delete" (click)="deleteSelectedMachine(machine.key, machine.machine)">
                            <div class="button-text">
                                Delete
                            </div>
                        </button>
                    </mat-cell>                
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
        </div>
    </div>
</div>
<footer>
    <button type="button" class="dark-mode-button" title="Dark Mode" (click)='toggleDarkTheme(); toggleIcon=!toggleIcon'>
        <mat-icon class="material-icons" *ngIf="!toggleIcon">brightness_2</mat-icon>
        <mat-icon class="material-icons" *ngIf="toggleIcon">brightness_5</mat-icon>
    </button>
</footer>