footer {
    position: fixed;
    inset: auto 0 0 0;
  }

.dark-mode-button {
    flex-wrap: wrap;
    background-color: var(--btn-bg-color);
    height: 50px;
    width: 50px;
    margin: 1rem;
    border-radius: 50%;
    border-color: var(--border-color);
    border-style: double;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: background-color 1s, width 1s, height 1s,
    color 1s, border-color 1s,
    border-width 1.5s;
}

.material-icons {
    font-size: 24px !important;
    padding-bottom: 1.6rem;
    vertical-align: middle;
    color: var(--text-color);
}

.dark-mode-button:hover {
    background-color: var(--btn-bg-color-hover);
    border-color: var(--border-color-hover);
    border-width: 7px;
    color: var(--text-color);
    width: 60px;
    height: 60px;
}

.main-container {
    width: 1000%;
    height: 430px;
    background-color: var(--container-color);
    background-image: url("/assets/images/Doctor_Icons_10.jpg");
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 10px;
    border-color: var(--container-border-color);
    border-style: double;
    border-width: 2rem;
}

.button {
    background-color: var(--btn-bg-color);
    height: 30px;
    margin: 0;
    margin-bottom: .5rem;
    border-radius: 50px;
    border-color: var(--border-color);
    border-style: double;
    color: var(--text-color);
    font-size: 14px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: background-color 1s, color 1s;
}

.create-button {
    margin-top: 20px;
    background-color: var(--btn-bg-color);
    font-size: 15px;
    height: 30px;
    margin-left: 1.3rem;
    border-radius: 50px;
    border-color: var(--border-color);
    border-style: double;
    color: var(--text-color);
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: background-color 1s, color 1s;
}

.button:hover, .create-button:hover {
    background-color: var(--btn-bg-color-hover);
    color: var(--text-color);
}

#check-server {
    top: 60%; 
    width: 115px;
    margin-left: 1.8rem; 
}

#delete {
    top:60%;
    width: 80px;
    margin-left: 1.5rem;
}

/* Creating a section for the table*/
.table-container {
    width: 1000px;
    height: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--container-color);
    border-color: var(--container-border-color);
    border-width: 10px;
    border-style: solid;
    border-radius: 5%;
}

/* Search Bar */
.search-bar {
    margin-left: 1.3rem;
    margin-top: .8rem;
    height: 35px !important;
    border: double 5px;
    border-color: var(--border-color) !important;
    color: var(--title-color) !important;
    font-size: 14px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.table-contents {
    height: 62.5vh;
    overflow: auto;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: var(--border-color-hover) !important;
  }

.table-contents::-webkit-scrollbar {
    display: none;
}

mat-cell {
    display: grid;
    margin: 0;
}

img {
    height: auto;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: .15;
}

.table-container-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bolder;
    color: var(--title-color);
    margin-top: 5rem;
    text-align: center;
}

.table-design {
    background-color: var(--container-color);
    font-size: 14px;
}

.table-font {
    padding-top: .5rem;
    border-color: var(--container-border-color);
    border-width: .2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--title-color);
}

#header {
    font-size: 15px;
}

#cell {
    font-size: 13.5px;
    vertical-align: middle;
    padding-bottom: 5px;
}