html, body {
    margin: 0;
    padding: 0;
 }

body {
    height: 100vh; 
    background-color: var(--bg-color);
}

/*This is for the modal styling...*/
app-machine-info-modal {
    background-color: var(--container-color) !important;
    border-radius: 5px;
}

app-create-machine-modal {
    background-color: var(--container-color) !important;
    border-radius: 5px;
}

body {
    --bg-color: #ffdcd9; 
    --btn-bg-color: #a0d1c3;
    --btn-bg-color-hover: #f87f8e;
    --container-color: #f1ece6;
    --text-color: white;
    --border-color: #5fa796;
    --border-color-hover: whitesmoke;
    --container-border-color: #5fa796;
    --title-color: #5fa796;
}

body.dark-theme {
    --bg-color: #542e30;
    --btn-bg-color: #75978e;
    --btn-bg-color-hover: #bd616c;
    --container-color: #c1bbb6;
    --text-color: whitesmoke;
    --border-color:  #3c695f;
    --border-color-hover: whitesmoke;
    --container-border-color: #44776b;
    --title-color:  #44776b;
}

/*Toastr Notifications*/
#toast-container> .toast-success {
    background-image: url("/assets/images/Computer.png");
    background-color: var(--border-color) !important;
    color: var(--text-color);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 400px;
}

#toast-container> .toast-error {
    background-color: var(--btn-bg-color-hover) !important;
    color: var(--text-color);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 400px;
}

mat-spinner {
    zoom: .4 !important;
}