@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~normalize.css';

html, body {
    margin: 0;
    padding: 0;
 }

body {
    height: 100vh;
    background: var(--bg-color);
}

body {
    --bg-color: #aeacac;
    --btn-bg-color: rgb(71, 142, 223);;
    --btn-bg-color-hover: rgb(50, 103, 163);
    --container-color: whitesmoke;
    --text-color: white;
    --border-color: rgb(71, 142, 223);
    --border-color-hover: whitesmoke;
    --container-border-color: rgb(71, 142, 223);
    --title-color: rgb(71, 142, 223);;
}

body.dark-theme {
    --bg-color: #161616;
    --btn-bg-color: rgb(71, 142, 223);
    --btn-bg-color-hover: rgb(50, 103, 163);
    --container-color: rgb(81, 81, 81);
    --text-color: rgb(211, 211, 211);
    --border-color:  rgb(71, 142, 223);
    --border-color-hover: rgb(211, 211, 211);
    --container-border-color: rgb(211, 211, 211);
    --title-color:  rgb(71, 142, 223);
}